# macOS
.DS_Store
.AppleDouble
.LSOverride

# Logs
*.log
logs/

# Build & Gradle
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE (IntelliJ, VS Code 등)
.idea/
*.iws
*.iml
*.ipr
out/
.vscode/
.settings/
.classpath
.project
bin/

# Local Environment
.env
.env.local

# Querydsl
/src/main/generated/
/src/test/generated/

# Documentation & Tracking
PROGRESS.md

# Local settings
src/main/resources/application-local.yml

# Help
HELP.md
